.total-list {
  padding: 2px;
  text-align: center;
}

.list-cont {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.list-img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.img-details {
  width: 300px;
}

.profile {
  height: 100vh;
}

.profile-header {
  color: #fac060;
  width: fit-content;
}

.profile-list {
  border-radius: 10px;
  align-items: center;
}

