body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: dark; 
}

.home {
  background: #273343;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
}

.slider_group {
  background: rgba(146, 137, 137, 0.643);
}

.add-list {
  font-family: 'Courier New', Courier, monospace;
}
